/* GalleryPage.css */

.main-gallery-container {
  background-color: #ebf5f5;
  padding: 0;
}

.gallery-welcome-container {
  width: 100%;
	min-height: 70vh;
  display: flex;
	background: url(../../../assets/img/b22.jpg);
	background-size: cover;
	/* background-position: center; */
	background-repeat: no-repeat;
  align-items: center;
  text-align: center;


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.gallery-welcome-container .gallery-content{
  display: flex;
  flex-direction: column;
  

}

  .gallery-welcome-container .gallery-content h1{
    padding-top: 20px;
      font-size: 54px;
      font-family: 'montserrat';
      font-weight: bold;
    color: #082342;
    width: 45rem;
  }
  
  .gallery-welcome-container .gallery-content h1 .span{
    color: #FF5C17;
  }

  .gallery-breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 150px;
  }
  .gallery-breadcrumbs a{
    color: #082342;
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: bold;
  }

  .gallery-breadcrumbs li{
    color: #082342;
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: bold;
  }



.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .image-item {
    display: flex;;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .test-container {
    margin-top: 20px;
  }

  .test {
    width: 320px;
  }
  
 .image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease;
    object-fit: cover;
  }
  
  .image-item:hover img {
    transform: scale(1.1);
  }
  
  .image-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 8px 8px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .image-item:hover .image-details {
    transform: translateY(0);
  }
  
  @media screen and (max-width: 768px) {

    /* GalleryPage.css */

.main-gallery-container {
  width: 100dvw;
  background-color: #ebf5f5;
  padding: 0;
}

.gallery-welcome-container {
  width: 100dvw;
  margin-top: 50px;
  min-height: 30vh;
  display: flex;
  background: url(../../../assets/img/b22.jpg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.gallery-welcome-container .gallery-content{
  display: flex;
  flex-direction: column;
  

}

  .gallery-welcome-container .gallery-content h1{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
  color: #082342;
  width: 100dvw;
  }
  
  .gallery-welcome-container .gallery-content h1 .span{
    color: #FF5C17;
  }

  .gallery-breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-self: normal;
    padding-left: 29dvw;
    width: 150px;
  }
  .gallery-breadcrumbs a{
    color: #082342;
    font-size: 24px;
    font-weight: bold;
  }

  .gallery-breadcrumbs li{
    color: #082342;
    font-size: 24px;
    font-weight: bold;;
  }



.gallery-container {
  display: flex;
  justify-content: center;
  width: 100dvw !important;
    margin: 0;
    padding: 20px;
  }
  
  .image-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .image-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 .image-item img {
    width: 90dvw;
    height: auto;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease;
  }
  
  .image-item:hover img {
    transform: scale(1.1);
  }
  
  .image-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90dvw;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 8px 8px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .image-item:hover .image-details {
    transform: translateY(0);
  }

  }
  