/* *{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;

  text-transform: capitalize;

  
} */

*, ::after, ::before {
  box-sizing: border-box;
}

html  {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

.top_header_section {
  display: flex;
  justify-content: space-between;
  background-color: #ebf5f5;
  height: 51px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.email_container {
  display: flex;
  color: black;
}

.email_container h6 {
  font-size: 16px;
  display: flex;
  color: black;
  align-self: center;
}

.email_container .fa-solid {
  font-size: 20px;
  align-self: center;
  color: black;

}

.header_auth_container{
  padding: 14px;
  text-align: center;
  background-color: orange;
  color: #ffffff;
  display: flex;
  align-self: center;
  color: #ffffff;

} 

.auth_item {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 5px ;
  font-size: 16px;
  color: white;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.auth_item:hover {
  color: black;
  align-items: center;
  text-decoration: none;
  height: 100%;
}

.auth_content {
  display: flex;
  color: black;
  
}

.icon {
  display: flex;
  align-items: center;
  padding: 20px;
}

.fa-brands {
  font-size: 20px;
  padding-left: 20px;
}

.main_router {
  display: flex;
  justify-content: space-between;
  background-color: #F50057;
  height: 69.4px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;

}

.header_logo img {
  height: 69.4px;
  width: 69.4px;
}

.main_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 5px ;
  font-size: 16px;
  color: white;
  text-decoration: none;

  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  
}
.nav_list:nth-child(5) {
    margin-left: 30%;
  }

.sub_container {
  display: grid;
}

.main_page {
  /* height: 100vh; */
  flex-shrink: 0;

}


.header_fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav_list:hover {
  color: orange;
  align-items: center;
  text-decoration: none;
  height: 100%;
  border-bottom: 3px solid orange;
}
