/* Add your global styles here if needed */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .info-box {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  