/* Styling for the appointment log container */
.appointment-log-container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-primary);
    margin-top: 10px;
    text-align: center;
    padding: 11px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .table_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .loading-message,
  .error-message {
    color: var(--btnDanger);
  }
  
  .appointment-log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .appointment-log-table th {
    background-color: var(--bg-ascend2); 
    color: var(--bg-primary);
    font-family: 'montserrat';
    font-weight: bolder;
    text-align: center;
    padding: 10px;
  }
  
  /* Styling for the table rows */
  .appointment-log-item {
    text-align: center;
    background-color: var(--bg-primary);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .appointment-log-item:hover {
    transform: scale(1.02);
  }
  
  /* Styling for the table data cells */
  .appointment-log-table td {
    padding: 15px;
  }


@media screen and (max-width: 768px) {
  .mobile-res-table {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping */
  }

  .mobile-table-container {
    width: 100%; /* Set the width of the container */
  }
}
  