.appointment-log-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: black;
  }
  
  .id-column {
    font-weight: bold;
  }
  
  .date-column {
    font-style: italic;
  }
  
  .time-column {
    font-weight: bold;
  }
  
  .status-column {
    text-transform: uppercase;
    color: #27ae60; /* Default color for status */
    /* text bold */
  }
  
  .status-column.canceled {
    color: #615b5b; /* Light muted orange for canceled status */
  }
  .status-column.pending {
    color: #f39c12; /* Orange color for pending status */
  }
  
  .status-column.accepted {
    color: #2ecc71; /* Green color for accepted status */
  }
  
  .status-column.denied {
    color: #e74c3c; /* Red color for denied status */
  }
  
  .name-column {
    font-weight: bold;
  }
  
  .pet-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  
.action-column {
    text-align: center;
  }
  
  /* Style for the action button */
  .action-button {
    background-color: #e74c3c; /* Red color for the button */
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .action-button:hover {
    background-color: #c0392b; /* Darker red color on hover */
  }
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .appointment-log-item {
      padding: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .appointment-log-item {
      width: 100dvw;
      padding: 30px;
      font-size: 12px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      color: black;
    }
    
    .id-column {
      font-weight: bold;
    }
    
    .date-column {
      font-style: italic;
    }
    
    .time-column {
      font-weight: bold;
    }
    
    .status-column {
      text-transform: uppercase;
      color: #27ae60; /* Default color for status */
    }
    
    .status-column.pending {
      color: #f39c12; /* Orange color for pending status */
    }
    
    .status-column.accepted {
      color: #2ecc71; /* Green color for accepted status */
    }
    
    .status-column.denied {
      color: #e74c3c; /* Red color for denied status */
    }
    
    .name-column {
      font-weight: bold;
    }
    
    .pet-image {
      width: 10dvw;
      height: auto;
      border-radius: 50%;
    }
    
    
  .action-column {
      text-align: center;
    }
    
    /* Style for the action button */
    .action-button {
      font-size: 20px;
      width: 40px;
      height: 40px;
      background-color: #e74c3c; /* Red color for the button */
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }

  }
  