/* AdminLayout.css */
.logo {
    height: 60px;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 1.2rem;
  }
  
  .menu-item-link {
    display: flex;
    align-items: center;
  }
  
  .menu-item-icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
  
  .menu-item-text {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  /* Add styles for the new logout button */
.menu-item-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.logout-button {
  color: #fff;
  font-size: 1rem;
}

.logout-button:hover {
  color: #1890ff; /* Change the color on hover as desired */
}