.card {
  flex: 1;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adjust the line width as needed */
  height: 4px; /* Adjust the line height as needed */
  background-color: var(--btnPrimary); /* Line color */
  opacity: 0;
  transition: opacity 0.2s;
}

.card:hover::after {
  opacity: 1;
}

.card h2 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card svg {
  margin-bottom: 10px;
  color: var(--btnPrimary); /* Icon color */
}
