.main-add-pet-form-container {
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--lightcolor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-add-pet-form-container h2 {
    text-align: left;
    font-size: 24px;
    /* font-weight: 600; */
}

.main-add-pet-form-container .bar {
    height: 4px;
    width: 85px;
    background: var(--barc);
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .main-add-pet-form-container .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ffffff;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
            animation-name: MOVE-BG;
  }

.add-pet-grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-form-body-container button {
    font-weight: bold;
    padding: 13px 50px;
    margin-left: 5px;
    color: var();
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
    background-color: var(--btnPrimary);
    color: var(--lightcolor) !important;
    border-radius: 8px;
    border: none;
}

.main-form-body-container button:hover {
    background-color: var(--btnSecondary);
    color: var(--lightcolor) !important;
}

.main-form-body-container input {
    width: 100%;
    background: #e6e6e6;
    letter-spacing: 0.5px;
    padding: 14px 30px; /* Adjusted padding values */
}

.main-form-body-container input[type=text] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid var(--DB);
  }

  .main-form-body-container input[type=text]:focus {
    border-bottom: 3px solid var(--DB);
  }

  .main-form-body-container input[type=date] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid var(--DB);
  }

  .main-form-body-container input[type=date]:focus {
    border-bottom: 3px solid var(--DB);
  }

  .main-form-body-container input[type=file] {
    width: 100%;
    padding: 9.5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid var(--DB);
  }

  .main-form-body-container input[type=file]:focus {
    border-bottom: 3px solid var(--DB);
  }

  .add-pet-form select {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid var(--DB);
}

.add-pet-form {
    color: black;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.add-pet-form h3 {
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 10px 0px;
}

.profile-img {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/* AddPetForm.css */

/* Unique class for the autocomplete */
.autocomplete-container {
    position: relative;
}

.autocomplete-results {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
}

.autocomplete-results li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-results li:hover {
    background-color: #f0f0f0;
}

@media screen and (max-width: 1441px) {
  
}
        
@media screen and (max-width: 1341px) {

}
        
@media screen and (max-width: 1241px) {

}
        
@media screen and (max-width: 1141px) {

}
        
@media screen and (max-width: 941px) { 

}
        
@media screen and (max-width: 841px) { 

}
        
@media screen and (max-width: 769px) {  
      
}
        
@media screen and (max-width: 426px) {    
        
}
        
@media screen and (max-width: 401px) {
      
}
