.main-pet-table-container {
    padding: 25px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--lightcolor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-pet-table-container h2{
    color: black;
    font-weight: bold;
    margin-left: 5px;
}

.pet-table-separator {
    width: 150px;
    height: 4px;
    margin: 10px 0px 20px 5px;
    background-color: #FAD400;
}

.whole-pet-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

  /* Styling for the table header */
  .whole-pet-table th {
    background-color: #082342; /* pinkred color for header background */
    font-family: 'montserrat';  
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

.profile-pet-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.profile-pet-card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.profile-pet-card::before {
  top: 50%;
  left: 50%;
  width: 0%;
  z-index: -1;
  height: 100%;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--btnSecondary);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

  
.profile-pet-card:hover::before {
  width: 100%;
}

.profile-pet-card:hover b {
  color: var(--lightcolor);
}

.profile-pet-card:hover p {
  color: var(--ascend);
}

/* .profile-pet-card{
  background-color: var(--btnSecondary);

}

.profile-pet-card .pet-name,
.profile-pet-card .pet-breed,
.profile-pet-card .pet-type,
.profile-pet-card .pet-age {
  color: var(--ascend);
}

.profile-pet-card .pet-name b,
.profile-pet-card .pet-breed b,
.profile-pet-card .pet-type b,
.profile-pet-card .pet-age b {
  color: var(--lightcolor);
} */

.profile-pet-card img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 10px;
}

.profile-pet-card p {
  margin-bottom: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-pet-card p b{
  color: var(--c3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-pet-card  .btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.profile-pet-card button {
  font-weight: 600;
}

.profile-pet-card .btn-warning {
  color: var(--btnWarning);
  background-color: transparent;
  border: solid 2px var(--btnWarning);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-pet-card .btn-danger {
  color: var(--btnDanger);
  background-color: transparent;
  border: solid 2px var(--btnDanger);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-pet-card .btn-warning:hover {
  color: var(--lightcolor) !important;
  border: solid 2px var(--btnWarning) !important;
  background-color: var(--btnWarning);
}

.profile-pet-card .btn-danger:hover {
  color: var(--lightcolor) !important;
  border: solid 2px var(--btnDanger) !important;
  background-color: var(--btnDanger);
}

  

  .pet-item {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
  }

  .pet-item:hover {
    transform: scale(1.02);
  }

  .pet-table-item td {
    border: solid blue;
    padding: 15px;
  }

  .pet-name-column {
    font-weight: bold;
  }

  .pet-type-column {
    font-weight: bold;
  }

  .pet-breed-column {
    font-weight: bold;
  }
  .pet-age-column {
    font-weight: bold;
  }

  /* .pet-button-column {
    display: flex;
    justify-content: center;
  } */

   /* Style for the action button */
   .pet-action-edit-button {
    background-color: orange; /* Red color for the button */
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .pet-action-edit-button:hover {
    background-color: rgb(166, 108, 0); /* Darker red color on hover */
  }

  .pet-action-delete-button {
    background-color: #e74c3c; /* Red color for the button */
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .pet-action-delete-button:hover {
    background-color: #c0392b; /* Darker red color on hover */
  }

  @media screen and (max-width: 768px) {

    .main-pet-table-container {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      background-color: #ffffff;
      padding: 20px;
      text-align: center;
  }
  
  .main-pet-table-container h2{
    font-size: 24px;
    color: #082342;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .pet-table-separator {
    align-self: center;
    width: 40%;
    height: 4px;
    margin: 10px 0px 20px 5px;
    background-color: #FAD400;
  }
  
  .whole-pet-table {
      width: 160%;
      border-collapse: collapse;
      margin-top: 20px;

  }
  
    /* Styling for the table header */
    .whole-pet-table th {
      font-size: 14px;
      background-color:#082342; /* pinkred color for header background */
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      padding: 10px;
    }
  
    .pet-item {
      text-align: center;
      font-size: 12px;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      padding: 15px;
      transition: transform 0.3s ease-in-out;
    }
  
    .pet-item:hover {
      transform: scale(1.02);
    }
  
    .pet-table-item td {
      padding: 0;
    }
  
    .pet-name-column {
      font-weight: bold;
    }
  
    .pet-type-column {
      font-weight: bold;
    }
  
    .pet-breed-column {
      font-weight: bold;
    }
    .pet-age-column {
      font-weight: bold;
    }
  
    /* .pet-button-column {
      display: flex;
      padding: 0px;
      margin: 0px;
      justify-content: space-around;
      flex-direction: column;
    } */
  
     /* Style for the action button */
     .pet-action-edit-button {
      background-color: orange; /* Red color for the button */
      font-size: 12px;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      margin: 20px;
    }
    
    .pet-action-edit-button:hover {
      background-color: rgb(166, 108, 0); /* Darker red color on hover */
    }
  
    .pet-action-delete-button {
      background-color: #e74c3c; /* Red color for the button */
      font-size: 12px;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      margin: 20px;
    }
    
    .pet-action-delete-button:hover {
      background-color: #c0392b; /* Darker red color on hover */
    }

    .mobile-table {
      width: 100%; /* Set the width of the container */
      overflow-x: auto; /* Enable horizontal scrolling */
      white-space: nowrap; /* Prevent content from wrapping */
    }

    /* :where(.css-dev-only-do-not-override-1g853jt)[class^="ant-image"], :where(.css-dev-only-do-not-override-1g853jt)[class*=" ant-image"] {
      font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
      font-size: 14px;
      box-sizing: border-box; 
      display: flex !important;
      justify-content: center !important;
      align-content: center !important;
      align-items: center !important;
    } */

    /* .pet-image-column img{
      width: 50px !important;
      height: auto !important;
    } */
    .profile-pet-card-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

  }