.main-profile-container {
    padding-top: 130px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}

.whole-profile-container {
    background-color: white;
    margin-top: 10px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-header-container {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color: #e12454;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.profile-header-container h2{
    color: white;
    font-weight: bold;
}

.profile-header-container button{
    padding: 13px 50px;
    margin-left: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
    transition: opacity 0.4s;
}