.main-profile-container {
    padding-top: 80px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    
}

.whole-profile-container {
    background-color: white;
    margin-top: 10px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-dropdown-container {
    position: relative;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #eee;
    margin-left: 4px;
  }
  .fa-solid  {
    color: #ffffff;
    font-size: 1.5rem;
  }
  
  .fa-x {
    color: #ffffff;
    padding : 0px 3px;

  }
  
  .dropdown-options {
    position: absolute;
    width: 16vh;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .option {
    padding: 8px;
    cursor: pointer;
  }
  
  

.profile-header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color: #082342;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 20px;
    align-items: center;
}

.recordsBtn {
    background-color: #FAD400;
    color: #082342 !important;
}

.recordsBtn:hover { 
    background-color: #868686;
    color: #fff !important;
}

.logoutBtn {
    border: solid 2px rgb(188, 188, 188);
    background-color: transparent;
    padding: 13px !important;


}

.profile-header-container h2 {
    font-family: 'montserrat';
    color: white;
    font-weight: bold;
}

.profile-header-container button {
    font-family: 'montserrat';
    font-weight: bold;
    padding: 13px 50px;
    margin-left: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    /* background-color: #FF5C17; */
    cursor: pointer;
    transition: opacity 0.4s;
}

@media screen and (max-width: 768px) {

    .recordsBtn {
        background-color: #FAD400 !important;
        color: #082342 !important;
    }

    .logoutBtn {
        border: solid 2px rgb(188, 188, 188) !important;
        background-color: transparent !important;
        padding: 13px !important;


    }

    .main-profile-container {
        height: auto;
        width: 100dvw;
        padding-top: 10dvh;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        padding-bottom: 2dvh;
    }

    .whole-profile-container {
        background-color: #082342;
        margin-top: 10px;
        width: 90dvw;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .profile-header-container {
        display: flex;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        background-color: #082342;
        border-radius: 20px;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        padding-top: 30px;
    }

    .profile-header-container h2 {
        font-size: 20px;
        color: white;
        font-weight: bold;
        border-bottom: solid #FAD400;
    }

    .profile-header-container button {
        padding: 10px 10px;
        font-size: 12px;
        margin-left: 5px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        background-color: #FF5C17;
        cursor: pointer;
        transition: opacity 0.4s;
    }

}