#login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  background-color: var(--bg-secondary);
}

#login .container {
  width: 1340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .main-login-container {
  width: 1000px;
  height: 620px;
  display: flex;
  border-radius: 8px;
  background-color: var(--bg-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login .login-logo-container{
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px 0px 0px 8px;
  background-color: var(--secondary);
}

#login .login-logo-container img {
  width: 300px;
  height: auto;
}

#login .login-logo-container h1{
  font-size: 50px;
  padding: 0;
  margin: 0;
}


#login .main-user-login-container {
  width: 50%;
  padding: 25px 40px 25px 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 8px 8px 0px;
  background-color: var(--bg-primary);
}

#login .main-user-login-container h2 {
  font-size: 54px;
  padding: 0;
  margin: 20px 0px 0px 0px;
}

#login .main-user-login-container p{
  width: 320px;
  align-self: center;
  margin-bottom: 30px;
}

#login .container .bar {
  height: 4px;
  width: 85px;
  background: var(--barc);
  margin: 20px auto 20px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

#login .container .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #ffffff;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

#login .radio-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#login .radio-select  label{
  font-weight: 600;
  margin-top: 5.5px;
  color: var(--darkcolor);
}

#login .user-login-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#login .user-login-form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

#login .user-login-box input {
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 100%;
  letter-spacing: 0.5px;
  padding: 14px 14px 14px 60px;
  border-bottom: solid 3px var(--DB);
}

#login .user-login-box input ~ i {
  position: absolute;
  left: 18px;
  top: 23px;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}

#login .user-login-box input:focus ~ i {
  color: var(--btnPrimary);
}

/* Hide the browser's default checkbox */
#login .user-check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#login .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
#login .user-check-box :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#login .user-check-box input:checked ~ .checkmark {
  background-color: var(--btnPrimary);
}

/* Create the checkmark/indicator (hidden when not checked) */
#login .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#login .user-check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#login .user-check-box .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#login .user-check-box {
  padding: 10px;
}

#login .rm span {
  padding-top: 4px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--btnPrimary);
}

#login .user-login-box .btn1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 14px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.4s;
  background-color: var(--btnPrimary);
}

#login .user-login-box .btn1:hover {
  opacity: 0.9;
}

#login .dnthave {
  text-align: center;
  margin-top: 10px;
}

#login a {
  color: black;
  text-decoration: none;
}

#login a:hover {
  color: var(--btnPrimary);
  text-decoration: underline;
}

#login .phone-input {
  position: relative;
}

#login .phone-input input{
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 100%;
  letter-spacing: 0.5px;
  padding: 14px 14px 14px 50px;
  border-bottom: solid 3px var(--DB);
}

#login .phone-input span{
    position: absolute;
    top: 16.5px;
    left: 10px;
    font-size: 1.2em;
}

#login .phone-input-container button {
  margin-top: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 14px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s;
  background-color: var(--btnPrimary);
}

#login .phone-input-container button:hover {
  background-color: var(--btnSecondary);
}

#login .verification-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#login .verification-container input{
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 65%;
  letter-spacing: 0.5px;
  padding: 14px 14px 14px 14px;
  border-bottom: solid 3px var(--DB);
}

#login .verification-container button{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 14px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: opacity 0.4s;
  background-color: var(--btnPrimary);
}

@media screen and (max-width: 768px) {

  .main-user-login-container,
  .main-user-login-container * {
      opacity: 0;
      transform: translateY(100%);
  }

  .main-user-login-container,
  .main-user-login-container * {
    animation: slideUp 0.3s ease-in-out forwards;
    animation-delay: 0.2s;
  }

  /* Define keyframes for slide-up animation */
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .mobile-login-main-container{
    /* add scroll */
    overflow-y: scroll;
  }
  .login-main-container {
    /* height: 160rem;
    background-color: #e12454;
    background-size: cover;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
      width: 70rem;
      display: grid;
      grid-template-columns: 1fr;
      position: fixed;
     z-index: 4; */
    display: none;
  }

  .mobile-login-main-container {
    width: 100dvw;
    height: 160dvh;
    background-color: #082342;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 4;
  }
 

  .main-user-login-container {
    margin: 0;
    padding: 0;
    width: 99.8dvw;
    height: 100dvh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .login-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: #082342;
    /* border: solid green; */
  }

  .user-separator {
    width: 50dvw;
    height: 4px;
    background-color: #fad400;
    margin: 24px auto 24px auto;
  }

  .welcome-message {
    display: none;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #082342;
    /* border: solid yellow; */
  }

  .user-login-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .user-login-form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
  }

  .user-login-box input,
  .user-login-box button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
  }

  .user-login-box input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
  }
  .login-link{
    margin-bottom: 100px;
  }

  .user-login-box input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
  }

  .user-login-box input:focus ~ i {
    color: #ff5c17;
  }

  /* Hide the browser's default checkbox */
  .user-check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .user-check-box :hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .user-check-box input:checked ~ .checkmark {
    background-color: #082342;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .user-check-box input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .user-check-box .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .user-check-box {
    padding: 10px;
  }

  .rm span {
    padding-left: 10px;
    color: #082342;
    font-size: 15px;
  }

  .user-login-box .btn1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #024ca1, #082342);
    cursor: pointer;
    transition: opacity 0.4s;
  }

  .user-login-box .btn1:hover {
    opacity: 0.9;
  }

  .dnthave {
    text-align: center;
    margin-top: 10px;
  }

  a {
    color: #082342;
    text-decoration: none;
  }

  a:hover {
    color: #fad400;
    text-decoration: underline;
  }

  .side {
    width: 100dvw;
    display: flex;
    justify-content: center;
    margin: 5dvh 0dvw 5dvh 0dvw;
    /* display: none; */
  }

  .side img {
    width: 65dvw;
    height: auto;
    /* display: none; */
  }


  .dnthave{
    margin-bottom: 130px;
  }
  .scrollable-container {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
}
