/* Default styles for heading elements */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica", sans-serif;
  line-height: 1.1;
  font-weight: 500;
  color: #222222;
  margin: 0;
  padding: 0;
}

/* Default styles for Swal.fire */
Swal.fire {
  z-index: 2;
}

/* Mobile styles for image content */
@media (max-width: 580px) {
  .image-about-wrapper .image-section .image-content {
    left: 30px;
    top: 0;
  }

  /* Adjust heading sizes for better mobile readability */
  h6, .h6 {
    font-size: 18px;
  }

  h5, .h5 {
    font-size: 20px;
  }
}

/* General styles for body and root */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* Adjust heading sizes for better mobile readability */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  font-weight: 500;
  color: #222222;
  margin: 0;
  padding: 0;
}

h6, .h6 {
  font-size: 28px;
}

h5, .h5 {
  font-size: 30px;
}

/* Additional styling for h6 and h5 */
.h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* General styling for paragraphs */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #808080;
}

/* Light color scheme for light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
