@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  color: #646464;
  font-family: "Josefin Sans", sans-serif !important;
}


a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--btnSecondary);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color:  var(--btnPrimary);
  outline: 0;
}

button:focus, input:focus {
  outline: 0;
}

p {
  color: #646464;
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}

:root {
  --primary: #e2cc92;
  --secondary: #fffedd;
  --ascend: #d1a650;
  --darkcolor: #000000;
  --lightcolor: #ffffff;
  --gray: #646464;

  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --bg-ascend: #e2cc92;
  --bg-ascend2: #d1a650;

  --btnPrimary: #fa7705;
  --btnSecondary: #4d3326;
  --btnAscend: #d1a650;
  --btnSuccess: #28a745;
  --btnDanger: #dc3545;
  --btnWarning: #ffc107;
  --btnDefault: #4096ff;

  --btn1:#fa7705;
  --c1:#fffedd;
  --c2:#e2cc92;
  --c3:#d1a650;
  --c4:#da7a24;
  --c5:#c74e1a;
  --DB:#4d3326;

  --barc: #dc3545;

  --vatan: #fa7705;
  --hp:#cf0905;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

  /* SMALL SCREEN SIZE CSS */

  @media screen and (max-width: 1441px) {

  }
  
    /* TABLET SIZE CSS */
  
  @media screen and (max-width: 769px) {
  
  }
  
    /* MOBILE SIZE CSS */
  
  @media screen and (max-width: 426px) {
      
  
  }

/* :root {
  font-family: 'montserrat';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* *{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */