/* h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    line-height: 1.1;
    font-weight: 500;
    color: #222222;
    margin: 0;
    padding: 0;
} */

/* *{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
} */

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/* section{
    padding:2rem 7%;
    height: 571px;
} */

.about-img .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
/* .about-img .row .image{
	flex: 1 1 45rem;
} */
.about-img .row .content{
	flex: 1 1 45rem;
	padding: 2rem;
}
.about-img .row .content h3{
	font-size: 3rem;
	color: #F50057;
}
.about-img .row .content p{
	font-size: 1.6rem;
	color: black;
	padding: 1rem 0;
	line-height: 1.8;
}
.about-img .row .image img{
    height: auto;
    width: 35rem;
}

.about-img {
    background-color: #ffffff;
}

.about-main {    
    display: flex;
    justify-content: center;
    height: 251px;
    background-color: #ffffff;
}
 /* .container {
    margin-left: 25rem;
    margin-right: 25rem;
    
 } */

 .row1 {
    display: flex;
    justify-content: center;

  }

  .column {
    border-color: #F50057;
    border-style: solid;
    text-align: center;
    padding: 100px;
    min-height: 251px;
  }

  .column h5 {
    font-size: 24px;
  }

  .column p {
    font-size: 16px;
  }