.emergency{
	/* margin-top: 50px; */
	height: 100vh;
    width: 100%;
	display: flex;
	align-items: center;
	background: url(../../../../assets/img/h5.jpg);
	background-size: cover;
	background-position: center;
    padding:2rem 7%;

}

.emergency-container{
    width: 500px;
    background-color: #082342;
    padding: 20px;
    border-radius: 5px;
	/* border: solid blue; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.emergency-content {
    display: flex;
    flex-direction: row;
    /* border: solid green; */
}

.emergency-content .fa-solid {
    font-size: 65px;
    padding: 15px;
}

.headphones .fa-solid{
    /* border: solid yellow; */
    color: #FF5C17;
}

.phone .fa-solid{
    /* border: solid yellow; */
    color: #FF5C17;
}

.emrgency-text {
    align-self: center;
    /* border: solid violet; */
    font-size: 30px;
}

.emrgency-text h4 {
    font-family: 'montserrat';
    color: white;
    font-weight: bold;
}

.emergency-container h5{
    font-family: 'montserrat';
    text-align: center;
    color: #FAD400;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}
 .emergency-container p {
    /* padding-bottom: 20px; */
    font-family: 'Franklin Gothic Light';
    color: #fff;
    font-size: 16px;
 }

 @media screen and (max-width: 768px) {

    .emergency{
        display: block;
    }

    .mobile-emergency {
        /* margin-top: 50px; */
        width: 37%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../../../../assets/img/h5.jpg);
        background-size: cover;
        background-position: center; 
        padding: 2rem;
    }
    
    .emergency-container{
        width: 100%;
        height: 90%;
        background-color: #082342;
        border-radius: 5px;
        /* border: solid blue; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .emergency-content {
        display: flex;
        flex-direction: row;
        /* border: solid green; */
    }
    
    .emergency-content .fa-solid {
        font-size: 45px;
    }
    
    .headphones .fa-solid{
        /* border: solid yellow; */
        color: #FF5C17;
    }
    
    .phone .fa-solid{
        /* border: solid yellow; */
        color: #FF5C17;
    }
    
    .emrgency-text {
        align-self: center;
        /* border: solid violet; */
        font-size: 20px;
    }
    
    .emrgency-text h4 {
        color: #ffffff;
    }
    
    .emergency-container h5{
        padding-top: 18px;
        color: #FAD400;
        text-align: justify;
        padding-bottom: 20px;
        font-size: 18px;
    }
     .emergency-container p {
        /* padding-bottom: 20px; */
        color: #fff;
        text-align: justify;
        font-size:  14px;
     }

 }


