.home{
	margin-top: 50px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../../../../assets/img/h1.jpg);
	background-size: cover;
	/* background-position: center; */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.home .content{
	max-width: 60rem;
	border: solid red;
}
.home .content h4{
	font-size: 36px;
	line-height: 35px;
	text-transform: uppercase;
	color: black;
}

.home .content h2{
	padding-top: 20px;
    font-size: 54px;
	color: black;
	width: 45rem;
}

.home .content h2 .span{
	color: #F50057;
}

.home .content p{
	font-size: 16px;
	color: black;
	line-height: 1.8;
	width: 500px;
    padding-top: 20px;
}

.btn {
	background-color: #F50057;
	font-size: 16px;
	padding: 10px 22px 10px 22px;
	margin-top: 1.5rem!important;
	border-radius: 30px;
	text-transform: uppercase;
    display: inline-block;
    background-color: #e12454;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    z-index: 99;
    overflow: hidden;
    border: none;
}

