.home{
	margin-top: 50px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../../../../assets/img/h11.png);
	background-size: cover;
	/* background-position: center; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding:2rem 7%;
}

.home .content{
	max-width: 60rem;
	/* border: solid red; */
}
.home .content h4{
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 36px;
	line-height: 35px;
	text-transform: uppercase;
	color: #082342;
}

.home .content h2{
	font-family: 'montserrat';
	font-weight: bold;
	padding-top: 20px;
    font-size: 54px;
	width: 45rem;
}

.home .content h2 .span{
	color: #FF5C17;
}

.home .content p{
	font-family: 'Franklin Gothic Light';
	font-size: 16px;
	color: #082342;
	line-height: 1.8;
	width: 500px;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {

	.home {
		display: none;
	}
	
	.phone-home{
		/* margin-top: 50px; */
		min-height: 80vh;
		/* width: 37; */
		width: 100dvw;
		padding: 0%;
		display: flex;
		align-items: center;
		background: url(../../../../assets/img/phonebg2.jpg);
		background-size: cover;
		background-position: center;
		/* background-repeat: no-repeat; */
		/* background-attachment: fixed; */
		justify-content: center;
	}

	.home .content{
		display: none;

	}
	
	.phone-home .phone-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100dvw;
		/* border: solid red; */
		text-align: center;

	}
	.phone-home .phone-content h4{
		font-size: 45px;
		width: 100%;
		font-weight: bold;
		text-transform: uppercase;
		color: black;
	}
	
	.phone-home .phone-content h2{
		padding-top: 20px;
		font-size:  42px;
		color: black;
		width: 100%;
	}
	
	.phone-home .phone-content h2 .span{
		color: #FF5C17;
		font-weight: bold;
	}
	
	.phone-home .phone-content p{
		width: 100%;
		font-size: 16px;
		color: black;
		text-align: justify;
		padding: 25px;
		font-weight: 500;
		padding-top: 20px;
	}
	
}


