section{
    padding:2rem 7%;
}

.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../../../../assets/img/home.jpg);
	background-size: cover;
	background-position: center;
}

.home .content{
	max-width: 60rem;
}
.home .content h4{
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
}

.home .content h2{
	font-size: 54px;
	text-transform: uppercase;
	color: #fff;
}
.home .content p{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: lighter;
	width: 40rem;
	line-height: 1.8;
	padding: 1rem 0;
}

.btn {
	background-color: #FFA4B5;
	font-size: 16px;
	padding: 10px 22px 10px 22px;
	border-radius: 30px;
	text-transform: uppercase;
}