#promo {
    width: 100%;
    height: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-primary);
    margin-bottom: 10px;
}

.promo-main-box-container {
    width: 1340px;
}

.promo-main-box-container h2{
    font-size: 35px;
}
#promo .promo-main-box-container .bar {
    height: 4px;
    width: 85px;
    background: var(--barc);
    margin: 20px auto 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #promo .promo-main-box-container .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ffffff;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
            animation-name: MOVE-BG;
  }

.promo-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.promo-post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: white;
}

.promo-post:hover {
    transform: translateY(-5px);
  }
  
  .promo-post .ant-image {
    display: flex;
    width: 400px !important;
    height: 400px !important;
  }

  /* SMALL SCREEN SIZE CSS */

  @media screen and (max-width: 1441px) {
  
  .promo-main-box-container{
      padding: 0 5rem;
      width: 100%;
    }
  }

  @media screen and (max-width: 1341px) {

    #promo {
      height: 1000px;
  }

  .promo-main-box-container{
      padding: 0 4rem;
    }

  .promo-post {
    width: 380px;
    height: 380px;
}
  
}

  @media screen and (max-width: 1241px) {

  #promo {
      height: 1000px;
  }

  .promo-main-box-container{
      padding: 0 3rem;
    }

  .promo-post {
    width: 360px;
    height: 360px;
}

  }

  @media screen and (max-width: 1141px) {

    #promo {
      height: 910px;
  }
  
  .promo-main-box-container{
      padding: 0 2rem;
    }

    .promo-post {
      width: 330px;
      height: 330px;
  }

  }

  @media screen and (max-width: 1025px) {

    #promo {
      height: 900px;
  }
  
      .promo-post {
        width: 300px;
        height: 300px;
    }
  
    }

  @media screen and (max-width: 941px) {

  #promo {
      height: 1220px;
  }
  
.promo-main-box-container{
      padding: 0 1.5rem;
    }

    .promo-post {
      width: 350px;
      height: 350px;
  }

  }

@media screen and (max-width: 841px) {
.promo-main-box-container{
    padding: 0 1rem;
  }

}

@media screen and (max-width: 769px) {
  #promo {
    height: 1320px;
  }  
}

@media screen and (max-width: 426px) {
  #promo {
    height: 2790px;
}

  .promo-post {
    width: 390px;
    height: 390px;
}
}

@media screen and (max-width: 401px) {

}
