
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    line-height: 1.1;
    font-weight: 500;
    color: #222222;
    margin: 0;
    padding: 0;
}

h6, .h6 {
    font-size: 28px;
}

h5, .h5 {
    font-size: 30px;
}

.h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin: 0;
}

p {
    color: #808080;
}


/* section{
    padding:2rem 7%;
} */


.main_service_container {
    background-color: #fff;
    padding:2rem 7%;
    
}

/* .home1-section-heading1 {
    color: #e12454;
    text-align: center;
    padding-bottom: 12px;
    border: solid red;
} */

.home1-section-heading2 {
    color: black;
    text-align: center;
    font-weight: 600;
    /* border: solid blue; */
}

.home1-section-heading2 span {
    color: #F50057;
}

.main_service_container .service_content_container p {
    text-align: center;
    margin-top: 10px;
    /* margin: 20px 50px 50px 0px; */
    width: 100%;
    /* border: solid green; */
}

.service-section {
    /* border: solid yellow; */
    /* margin: 50px; */
    

}

.service_item_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: solid violet; */
}


.service_content {
    border-width: 2px;
    border-color: #eaeaea;
    border-style: solid;
    margin-top: 10px;
    text-align: center;
    width: 32.5%;
    height: auto;
    padding: 25px;
    background-color: #fff;
    box-sizing: border-box;
    /* border-radius: 5px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border: solid orange; */
}

.service_content h5 {
    /* margin-top: 50px; */
    color: black;
    /* font-weight: 600; */
    font-size: 24px;
    /* border: solid red; */
}

.service_content .fa-solid {
    font-size: 65px;
    padding: 15px;
    color: #F50057;
}

.service_content:hover {
    background-color: #F50057;
}

.service_content:hover .fa-solid{
    color: white;
}

.service_content:hover h5{
    color: white;
}
.service_content:hover p{
    color: white;
}


